<!DOCTYPE html>
<html>
	<head>
			<title>
				The Special Sandwich Shop
			</title>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
			<link rel="stylesheet"href="https://www.w3schools.com/w3css/4/w3.css"/>
			<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
			<link href="https://fonts.googleapis.com/css?family=Roboto"rel="stylesheet"/>
			<link rel="stylesheet"href="./style.css"/>

	</head>
	<body>
		<div ng-app="tApp" ng-controller="tController">
			<div ng-show="page.main">
				<div class="w3-xxlarge w3-center">
		            The Special Sandwich Shop
		        </div>
		        <button style="height:30vh;width:60vw;margin-left:20vw" class="w3-col" ng-click="changePage('signature')">
		            Chose from our signature sandwiches
		        </button>
		        <p class="w3-col w3-center">
		            or
		        </p>
		        <button style="height:30vh;width:60vw;margin-left:20vw" class="w3-col" ng-click="changePage('custom')">
		            Make your own custom sandwiches
		        </button>
			</div>
			<div ng-show="page.signature">
				<div class="w3-panel w3-half w3-row">
					<div class="w3-button w3-col  w3-card" ng-repeat="x in signature.data" style="height:15%" ng-click="$parent.signature.changeIndex($index)">
						<div class="w3-display-container">
							<img src="{{x.image}}" style="height:15vh" class="w3-image"/>
							<div class="w3-display-topleft">
								{{x.name}}
							</div>
							<div class="w3-display-topright">
								{{x.price | currency:"£"}}
							</div>
							<div class="w3-display-bottomright">
								<img ng-show="x.vegetarian" src="http://images.sasongsmat.nu/vegetarianmark/vegetarian-mark.svg" style="width: 3vh;height: 3vh;margin-bottom:3vh;"/>
							</div>
						</div>
					</div>
				</div>
				<div class="w3-half w3-panel w3-card-4" ng-hide="signature.index==-1">
					<div class="w3-row">
						Ingredients:
						<p class="w3-small w3-card-4">
							{{signature.data[signature.index].ingredients}}
							<img ng-show="signature.data[signature.index].vegetarian" src="http://images.sasongsmat.nu/vegetarianmark/vegetarian-mark.svg" style="width: 3vh;height: 3vh;"/>
						</p>
						Description:
						<p ng-bind-html="signature.data[signature.index].description">
						</p>
					</div>
					<div class="w3-center">
						<div class="w3-button fa fa-minus" ng-click="signature.removeSandwich()">
						</div>
						<input style="width:50px;" ng-model="signature.num" class="w3-center">
						</input>
						<div class="w3-button fa fa-plus" ng-click="signature.addSandwich()">
						</div>
						{{signature.data[signature.index].price * numSandwiches | currency:"£"}}
						<div class="w3-button w3-col" ng-click="addToBasket(signature.toSandwich())">
							Add to basket
						</div>
					</div>
				</div>
				<div class="w3-half w3-panel w3-card-4" ng-show="signature.index==-1">
					<div class="w3-row">
						Select a sandwich to see its yummy insides.
					</div>
				</div>

				<!-- BASKET -->

				<span class="fa fa-shopping-basket w3-xxlarge w3-circle w3-button" ng-click="openModal('basket')">
				</span>
				<div>
					<ul class="w3-ul">
						<li ng-repeat="x in sandwiches">
							{{x.print()}}
							<div class="w3-right">
								<div class="w3-button fa fa-minus" ng-click="x.remove()">
								</div>
								<input style="width:50px;" ng-model="x.data[x.data.length-1]" class="w3-center">
								</input>
								<div class="w3-button fa fa-plus" ng-click="x.add()">
								</div>
								<span class="w3-button" ng-click="$parent.sandwiches.splice($index, 1);">
									&times;
								</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div ng-show="page.custom" class="w3-center">
				<div class="w3-xxlarge">
					Custom Sandwiches
				</div>
				<div>
					<div class="w3-bar">
						<div class="w3-bar-item w3-button" ng-click="custom.index=0">
							Bread
						</div>
						<div class="w3-bar-item w3-button" ng-click="custom.index=1">
							Spread
						</div>
						<div class="w3-bar-item w3-button" ng-click="custom.index=2">
							Main
						</div>
						<div class="w3-bar-item w3-button" ng-click="custom.index=3">
							Add-ins
						</div>
						<div class="w3-bar-item w3-button" ng-click="custom.index=4">
							Premium Add-ins
						</div>
					</div>
					<div class="w3-card-4 w3-half" ng-model="custom.data[custom.index]" style="margin-left:25vw;">
						<div ng-repeat="x in custom.data[custom.index]">
							<div class="w3-display-container customImage" style="width:15vh;" ng-click="custom.select($index)">
								<img class="w3-hover-grayscale w3-image {{custom.sandwich[custom.index]==$index?'w3-grayscale':''}}" src="{{x.image}}" style="width: 15vh; height: 15vh;" />
								<div class="w3-display-bottommiddle w3-container customImageText">
									{{x.name}}
								</div>
								<div class="w3-display-middle w3-jumbo w3-green w3-circle fa fa-check" style="{{custom.sandwich[custom.index]==$index?'':'display:none;'}}">
								</div>
								<div class="w3-display-middle customAddIn" style="{{isArray(custom.sandwich[custom.index])?'':'display: none;'}}">
									<div class="w3-button fa fa-plus" ng-click="custom.addAddin($index)">
									</div>
									<input ng-model="custom.sandwich[custom.index][$index]" style="width:5vw; margin:0;" ng-model="numSandwiches" class="w3-center">
									</input>
									<div class="w3-button fa fa-minus" ng-click="custom.removeAddin($index)">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="w3-button" ng-click="addToBasket(custom.toSandwich())">
					om nom
				</div>
				<span class="fa fa-shopping-basket w3-xxlarge w3-circle w3-button" ng-click="openModal('basket')">
				</span>
			</div>
			<div id="basket" class="w3-modal">
				<div class="w3-modal-content w3-round w3-animate-zoom">
					<span class="w3-button w3-round w3-right" ng-click="closeModal('basket')">
						&times;
					</span>
					<div class="w3-jumbo">
						Basket
					</div>
					<div class="w3-container">
						<div>
							<ul class="w3-ul">
								<li ng-repeat="x in sandwiches">
									{{x.print()}} ({{x.price() | currency:"£"}})
									<div class="w3-right">
										<div class="w3-button fa fa-minus" ng-click="x.remove()">
										</div>
										<input style="width:50px;" ng-model="x.data[x.data.length-1]" class="w3-center">
										</input>
										<div class="w3-button fa fa-plus" ng-click="x.add()">
										</div>
										<span class="w3-button" ng-click="$parent.sandwiches.splice(index, 1);">
											&times;
										</span>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			var app = angular.module("tApp", []);
			app.controller("tController", function($scope, $sce, $interval){
				$scope.sandwiches = [];
				function Sandwich(data, signature = false) {
					this.data=data;
					this.signature=signature;
					this.basePrice=1;
					this.price=()=>{
						if (this.signature)
							return $scope.signature.data[this.data[0]].price;
						var price = this.basePrice;
						for (var i = 5; i;)
							price+= this.data[3][--i]*0.25;
						for (var i = 6; i;)
							price+= this.data[4][--i]*0.5;
						return price;
					};
					this.add=()=>this.data[this.data.length-1]<98?this.data[this.data.length-1]++:0;
					this.remove=()=>this.data[this.data.length-1]?this.data[this.data.length-1]--:0;
					this.print=()=>this.signature?$scope.signature.data[this.data[0]].name:"custom "+JSON.stringify(this.data);
				};

				$scope.signature = {
					index:-1,
					num:0,
					addSandwich:function() {
						this.num>98?0:this.num++;
					},
					removeSandwich:function() {
						this.num?this.num--:0;
					},
					changeIndex:function(i){
						this.index = i;
						this.num = 0;
					},
					data:[
						{name:"Egg Salad Relish",
						ingredients:"White Bread: Egg Mayonnaise, Sliced Radishes, Chopped Oil-Cured Olives, Fresh Coriander",
						description:$sce.trustAsHtml("Enjoy our Egg Salad Relish which comes with <b>egg mayonnaise</b>, <b>sliced radishes</b>, <b>chopped oil-cured olives</b> and <b>fresh coriander</b> inside our freshly baked <b>white bread</b>."),
						price:1,
						vegetarian:true,
						image:"https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Red_X.svg/2000px-Red_X.svg.png"},
						{name:"The Pegasus",
						ingredients:"Baguette: Roast Beef, Sour Cream, Raw Mushrooms",
						description:$sce.trustAsHtml("Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore"),
						price:2,
						vegetarian:false,
						image:"https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Red_X.svg/2000px-Red_X.svg.png"},
						{name:"The Gallant",
						ingredients:"Wholewheat Bread: Turkey, Bacon, Avocado, Cranberry Mayonnaise",
						description:$sce.trustAsHtml("Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore"),
						price:3,
						vegetarian:false,
						image:"https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Red_X.svg/2000px-Red_X.svg.png"},
						{name:"Angus & Tessie's Skipanon Sing-A-Long",
						ingredients:"White Bread: Tuna, Mustard, Fresh Herb Relish",
						description:$sce.trustAsHtml("Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore"),
						price:4,
						vegetarian:false,
						image:"https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Red_X.svg/2000px-Red_X.svg.png"},
						{name:"The Yellow Elephant",
						ingredients:"Pita: Peanut Butter, Honey, Banana, Toasted Sesame Seeds",
						description:$sce.trustAsHtml("Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore"),
						price:5,
						vegetarian:true,
						image:"https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Red_X.svg/2000px-Red_X.svg.png"}
					],
					toSandwich:function() {
						var x = new Sandwich([this.index, this.num], true);
						this.num = 0;
						return x;
					}
				};

				$scope.custom = {
					index:0,
					default:[-1,-1,-1,[0,0,0,0,0],[0,0,0,0,0,0],1],
					sandwich:[-1,-1,-1,[0,0,0,0,0],[0,0,0,0,0,0],1],
					data:[[
						{image:"https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Red_X.svg/2000px-Red_X.svg.png",name:"White"},
						{image:"21",name:"Wholewheat"},
						{image:"21",name:"Baguette"},
						{image:"21",name:"Pita"}],[
						{image:"https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Red_X.svg/2000px-Red_X.svg.png",name:"Butter"},
						{image:"21",name:"Mayonnaise"},
						{image:"21",name:"Margarine"},
						{image:"21",name:"Vegannaise"},
						{image:"21",name:"Peanut Butter"}],[
						{image:"https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Red_X.svg/2000px-Red_X.svg.png",name:"Turkey"},
						{image:"21",name:"Roast Beef"},
						{image:"21",name:"Tuna"},
						{image:"21",name:"Eggs"},
						{image:"21",name:"Tempeh"},
						{image:"21",name:"Griddled Broccoli"}],[
						{image:"https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Red_X.svg/2000px-Red_X.svg.png",name:"Cucumber"},
						{image:"21",name:"Lettuce"},
						{image:"21",name:"Tomato"},
						{image:"21",name:"Raw Mushrooms"},
						{image:"21",name:"Alfalfa Sprouts"}],[
						{image:"https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Red_X.svg/2000px-Red_X.svg.png",name:"Cheddar"},
						{image:"21",name:" Brie"},
						{image:"21",name:"Herb Cream-Cheese"},
						{image:"21",name:"Bacon"},
						{image:"21",name:"Roasted Red Pepper"},
						{image:"21",name:"Guacamole"},
						{image:"21",name:"Anchovies"}
					]],
					select:function(i) {
						return $scope.isArray(this.sandwich[this.index])?0:this.sandwich[this.index]=i;
					},
					addAddin:function(i) {
						this.sandwich[this.index][i]>98?0:this.sandwich[this.index][i]++;
					},
					removeAddin:function(i) {
						this.sandwich[this.index][i]?this.sandwich[this.index][i]--:0;
					},
					toSandwich:function() {
						var x = this.sandwich.slice();
						this.sandwich = this.default;
						return new Sandwich(x);
					}
				};

				$scope.page = {main:true,signature:false,custom:false};

				$scope.openModal=($)=>document.getElementById($).style.display='block';
				$scope.closeModal=($)=>document.getElementById($).style.display='none';

				$scope.addToBasket = function(sandwich) {
					if (!sandwich.data[sandwich.data.length-1])
						return;
					for (var j = $scope.sandwiches.length; j;) {
						var same = true;
						if ($scope.sandwiches[--j].data.length == sandwich.data.length)
							for (var i = sandwich.data.length - 1; i;)
								if ($scope.sandwiches[j].data[--i] != sandwich.data[i])
									same = false;
							if(same)
								return $scope.sandwiches[j].data[sandwich.data.length-1]+=sandwich.data[sandwich.data.length-1];
					}
					$scope.sandwiches.push(sandwich);
				};

				$scope.changePage = function(page) {
					$scope.page.main = page == "main";
					$scope.page.signature = page == "signature";
					$scope.page.custom = page == "custom";
				};




				$interval(function()
				{
					console.log($scope.sandwiches);
				},1000);


				$scope.isArray = function(x) {
					return Array.isArray(x);
				};
			});


			var basket = document.getElementById('basket');
			window.onclick = function(event) {
  			if (event.target == basket) {
    			basket.style.display = "none";
  			}
}
		</script>
	</body>
</html>
