<!DOCTYPE html>
<html>
	<head>
			<title>
				The Special Sandwich Shop
			</title>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
			<link rel="stylesheet"href="https://www.w3schools.com/w3css/4/w3.css"/>
			<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
			<link href="https://fonts.googleapis.com/css?family=Roboto"rel="stylesheet"/>
			<!--<link rel="stylesheet"href="./static/css/style.css"/>-->

	</head>
	<body>
		<div ng-app="tApp" ng-controller="tController">
			<div class="w3-panel w3-half w3-row">
				<div class="w3-button w3-col  w3-card" ng-repeat="x in signatureData" style="height:15%" ng-click="$parent.signatureIndex=$index">
					<div class="w3-display-container">
						<img src="./image.png" class="w3-image"/>
						<div class="w3-display-topleft">
							{{x.name}}
						</div>
						<div class="w3-display-topright">
							{{x.price | currency:"£"}}
						</div>
					</div>
				</div>
			</div>
			<div class="w3-half w3-panel w3-card-4" ng-hide="signatureIndex==-1">
				<div class="w3-row">
					Ingredients:
					<p class="w3-small w3-card-4">
						{{signatureData[signatureIndex].ingredients}}
					</p>
					Description:
					<p>
						{{signatureData[signatureIndex].description}}
					</p>
				</div>
				<div class="w3-center">
					<div class="w3-button" ng-click="numSandwiches=numSandwiches-1">
						-
					</div>
					<input style="width:50px;" ng-value="numSandwiches" class="w3-center">
					</input>
					<div class="w3-button" ng-click="numSandwiches=numSandwiches+1">
						+
					</div>
					{{signatureData[signatureIndex].price * numSandwiches | currency:"£"}}
					<div class="w3-button w3-col">
						Add to basket
					</div>
				</div>
			</div>
		</div>

		<script>
			var app = angular.module("tApp", []);

			app.controller("tController", function($scope){
				$scope.numSandwiches = 0;
				$scope.signatureData = [
										{name:"Egg Salad Relish", ingredients:"white bread: egg mayonnaise, sliced radishes, chopped oil-cured olives, fresh coriander", description:"very tasty", price:1},
										{name:"Pegasus", ingredients:"baguette: roast beef, sour cream, raw mushrooms", description:"very tasty", price:2},
										{name:"The Gallant", ingredients:"wholewheat bread: turkey, bacon, avocado, cranberry mayonnaise", description:"very tasty", price:3},
										{name:"Angus & Tessie's Skipanon Sing-A-Long", ingredients:"white bread: tuna, mustard, fresh herb relish", description:"very tasty", price:4},
										{name:"The yellow Elephant", ingredients:"pita: peanut butter, honey, banana, toasted sesame seeds", description:"very tasty", price:5}
				];
				$scope.signatureIndex = -1;
			});

		</script>
	</body>
</html>
