<!DOCTYPE html>
<html>
	<head>
			<title>
				The Special Sandwich Shop
			</title>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
			<link rel="stylesheet"href="https://www.w3schools.com/w3css/4/w3.css"/>
			<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
			<link href="https://fonts.googleapis.com/css?family=Roboto"rel="stylesheet"/>
			<!--<link rel="stylesheet"href="./static/css/style.css"/>-->

	</head>
	<body>
		<div ng-app="tApp" ng-controller="tController">
			<div ng-show="page.signature">
				<div class="w3-panel w3-half w3-row">
					<div class="w3-button w3-col  w3-card" ng-repeat="x in signatureData" style="height:15%" ng-click="$parent.signatureIndex=$index">
						<div class="w3-display-container">
							<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Red_X.svg/2000px-Red_X.svg.png" style="height:15vh" class="w3-image"/>
							<div class="w3-display-topleft">
								{{x.name}}
							</div>
							<div class="w3-display-topright">
								{{x.price | currency:"£"}}
							</div>
						</div>
					</div>
				</div>
				<div class="w3-half w3-panel w3-card-4" ng-hide="signatureIndex==-1">
					<div class="w3-row">
						Ingredients:
						<p class="w3-small w3-card-4" compile-html="signatureData[signatureIndex].ingredients">
						</p>
						Description:
						<p>
							{{signatureData[signatureIndex].description}}
						</p>
					</div>
					<div class="w3-center">
						<div class="w3-button fa fa-minus" ng-click="numSandwiches=numSandwiches-1">
						</div>
						<input style="width:50px;" ng-value="numSandwiches" class="w3-center">
						</input>
						<div class="w3-button fa fa-plus" ng-click="numSandwiches=numSandwiches+1">
						</div>
						{{signatureData[signatureIndex].price * numSandwiches | currency:"£"}}
						<div class="w3-button w3-col">
							Add to basket
						</div>
					</div>
				</div>
				<div class="w3-half w3-panel w3-card-4" ng-show="signatureIndex==-1">
					<div class="w3-row">
						Select a sandwich to see its yummy insides.
					</div>
				</div>
				<button ng-click="openModal()">
					Current Basket
				</button>
				<div id="modal" class="w3-modal">
					<div class="w3-modal-content w3-round">
						<span class="w3-button w3-round" ng-click="closeModal()">
							&times;
						</span>
						<div class="w3-container">

							<div class="row">
  <div class="col-75">
    <div class="container">
      <form>

        <div class="row">
          <div class="col-50">
            <h3>Billing Address</h3>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
						<br />
			<input type="text" id="fname" name="firstname" placeholder="John M. Doe">
			<br />
			<label for="email"><i class="fa fa-envelope"></i> Email</label>
			<br />
            <input type="text" id="email" name="email" placeholder="john@example.com">
						<br />
            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
						<br />
            <input type="text" id="adr" name="address" placeholder="542 W. 15th Street">
						<br />
            <label for="city"><i class="fa fa-institution"></i> City</label>
						<br />
            <input type="text" id="city" name="city" placeholder="New York">
						<br />

            <div class="row">

              <div class="col-50">

              </div>
            </div>
          </div>


          </div>

        </div>

    </div>
  </div>

  <div class="col-25">
    <div class="container">
      <h4>Cart
        <span class="price" style="color:black">
          <i class="fa fa-shopping-cart"></i>
          <b></b>
        </span>
      </h4>

      <hr>
      <p>Total <span class="price" style="color:black"><b></b></span></p>
    </div>
		<div class="">
			<button type="button" name="button">
				Submit Order
			</button>

		</div>
  </div>
</div>


						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
		<script>
			var app = angular.module("tApp", []);
			app.controller("tController", function($scope, $sce){
				$scope.numSandwiches = 0;
				$scope.page = {main:false,signature:true,};
				$scope.signatureData = [
										{name:"Egg Salad Relish",
										ingredients:"White Bread: Egg Mayonnaise, Sliced Radishes, Chopped Oil-Cured Olives, Fresh Coriander",
										description:"Enjoy our Egg Salad Relish which comes with <b>egg mayonnaise</b>, <b>sliced radishes</b>, <b>chopped oil-cured olives</b> and <b>fresh coriander</b> inside our freshly baked <b>white bread</b>.",
										price:1},
										{name:"The Pegasus",
										ingredients:"Baguette: Roast Beef, Sour Cream, Raw Mushrooms",
										description:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore",
										price:2},
										{name:"The Gallant",
										ingredients:"Wholewheat Bread: Turkey, Bacon, Avocado, Cranberry Mayonnaise",
										description:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore", price:3},
										{name:"Angus & Tessie's Skipanon Sing-A-Long",
										ingredients:"White Bread: Tuna, Mustard, Fresh Herb Relish", description:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore", price:4},
										{name:"The Yellow Elephant",
										ingredients:"Pita: Peanut Butter, Honey, Banana, Toasted Sesame Seeds", description:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore", price:5},
										{ingredients:$sce.trustAsHtml("<b>test</b>")}
				];
				$scope.signatureIndex = -1;

				$scope.openModal = function() {
					document.getElementById('modal').style.display='block';
				};

				$scope.closeModal = function() {
					document.getElementById('modal').style.display='none';
				}
			});

		</script>
	</body>
</html>
